{{extend rederHtmlPrincipal()}}
<!-- <div class="row">
  <div class="col-4">
    <h6>Listado empresas</h6>
    <table class="table">
      <thead>
        <tr>
          <td>Nombre</td>
          <td>Fecha</td>
        </tr>
      </thead>
      <tbody>
        {{# for tmp in infoCompany:}}
          <tr>
            <td>{{#=str(tmp.nombre_empresa).capitalize()}}</td>
            <td>{{#=tmp.fecha_creacion_empresa}} {{#=tmp.hora_creacion_empresa}}</td>  
          </tr>
          {{#pass}}
        </tbody>
      </table>
  </div>
  <div class="col-4">
    <h6>Listado  Clientes</h6>
    <table class="table">
      <thead>
        <tr>
          <td>Empresa</td>
          <td>Nombre</td>
          <td>Fecha</td>
        </tr>
      </thead>
      <tbody>
        {{# for cli in infoCustomers:}}
          <tr>
            <td>{{#=cli.empresa_cliente}}</td>
            <td>{{#=str(cli.nombre_cliente).capitalize()}}</td>
            <td>{{#=cli.fecha_creacion_cliente}} {{#=cli.hora_creacion_cliente}}</td>
          </tr>
          {{#pass}}
        </tbody>
      </table>
  </div>
  <div class="col-4">
    <h6>Listado Segmentos</h6>
    <table class="table">
      <thead>
        <tr>
          <td>Cliente</td>
          <td>Nombre</td>
          <td>Fecha</td>
        </tr>
      </thead>
      <tbody>
        {{# for seg in infoSegment:}}
          <tr>
            <td>{{#=seg.cliente_segmento}}</td>
            <td>{{#=str(seg.nombre_segmento).capitalize()}}</td>
            <td>{{#=seg.fecha_creacion_segmento}} {{#=seg.hora_creacion_segmento}}</td>  
          </tr>
          {{#pass}}
        </tbody>
      </table>
  </div>
</div> -->



