{{extend rederHtmlPrincipal()}}
<input type="hidden" value="{{=idCliente}}" id="chatServicioListChats">
<input type="hidden" value="{{=nombreCliente}}" id="chatServicionombreCliente">
<input type="hidden" value="{{=varDatos.prem}}" id="chatServicioIdEmpresa">
<input type="hidden" value="{{=varDatos.atrg}}" id="chatServicioIdAsesor">
<input type="hidden" value="{{=identificacion}}" id="chatServicioIdentificacion">
<input type="hidden" value="{{=clienteSeg}}" id="chatServicioSegmento">
<input type="hidden" value="1" id="pageChats">
<div class="sidebar-group left-sidebar chat_sidebar">

    <div id="chats" class="left-sidebar-wrap sidebar active slimscroll">
        <div class="slimscroll">

            <div class="left-chat-title d-flex justify-content-between align-items-center">
                <div class="chat-title">
                    <h6>Listado chats {{=str(varDatos.mena).capitalize()}}</h6>
                </div>
            </div>
            <div class="search_chat has-search">
                <span class="fas fa-search form-control-feedback"></span>
                <input class="form-control chat_input" id="searchClienteListado" onkeyup="template.searchClientesList();" type="text" placeholder="Buscar cliente">
            </div>

            <div class="sidebar-body" id="chatsidebar">

                <div class="left-chat-title d-flex justify-content-between align-items-center ps-0 pe-0" style="margin-top:-30px;">
                </div>
                <ul class="user-list mt-2">
                    {{ if len(listadoClientesChat) > 0 :}}
                        {{ for infCl in listadoClientesChat :}}
                            <!-- Actualizar Developer -->
                            {{nombreCliente, identificacion, clienteSeg = setInfoAtencionNomCliente( infCl.id )}}
                            <!-- Fin actualizar Developer -->
                            <a href="javascript:ases.verInfoChatCliente('{{=infCl.id}}','{{=infCl.id_info_cliente_historica}}','{{=varDatos.prem}}','{{=varDatos.atrg}}','{{=nombreCliente}}','formularioEncvioSms','{{=identificacion}}','{{=clienteSeg}}');">
                                <li class="user-list-item" id="idLiAserCliente_{{=infCl.id}}">
                                    <div>
                                        <div class="avatar avatar-online">
                                            <div class="letter-avatar">
                                                {{=str(infCl.Nombre).capitalize()[:1]}}{{=str(infCl.surname).capitalize()[:1]}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="users-list-body">
                                        <div>
                                            <h5 class="idTextAserClienteColor_{{=infCl.id}}"> {{=nombreCliente}}</h5>
                                            <p class="idTextAserClienteColor_{{=infCl.id}}">
                                                <small class="" style="font-size:10px;" data-bs-toggle="tooltip"
                                                data-bs-placement="top" title="{{=clienteSeg}}">{{=clienteSeg}}</small><br>
                                                <span class="material-icons">call</span>{{=infCl.telefono}}
                                            </p>
                                        </div>
                                        <div class="last-chat-time" id="indicadorSmsCantidadTiempo_{{=infCl.id}}">
                                            {{ dataClienteSms,tiempoEspera = setCantidadClienteSms( infCl.id ) }}
                                            <small class="text-muted">{{=tiempoEspera}}</small>
                                            <div class="new-message-count">{{=dataClienteSms}}</div>
                                        </div>
                                    </div>
                                </li>
                            </a>
                        {{pass}}
                    {{else:}}
                        <li class="user-list-item">
                            <div>
                                <div class="avatar avatar-offline">
                                    <div class="letter-avatar">
                                        N
                                    </div>
                                </div>
                            </div>
                            <div class="users-list-body">
                                <div>
                                    <h6>No encontramos chats para esta empresa</h6>
                                    <p><span class="material-icons">check_circle</span>  {{=str(request.now)[:16]}}</p>
                                </div>
                            </div>
                        </li>
                    {{pass}}
                </ul>
            </div>
        </div>
    </div>

</div>


<div class="chat hide" id="middle">
    <div class="slimscroll">
        <div class="chat-header">
            <div class="user-details">
                <div class="d-lg-none ms-2">
                    <ul class="list-inline mt-2 me-2">
                        <li class="list-inline-item">
                            <a class="text-muted px-0 left_side" href="#" data-chat="open">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <figure class="avatar ms-1">
                    <img src="{{=URL('static','template/base/assets/img/logo.png')}}" class="rounded-circle"
                        alt="image">
                </figure>
                <div class="mt-1">
                    <!-- Actualizar Developer -->
                    <h5 id="nombreBodyChatCliente"></h5>
                    <small class="online" id="identificacionBodyChatCliente"></small>
                    <!-- Fin actualizar Developer -->
                </div>
            </div>
            <div class="chat-options">
                <ul class="list-inline">
                    <li class="list-inline-item dream_profile_menu" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="Ofertas">
                        <a href="javascript:ases.cargaOfertas();" class="btn btn-outline-light">
                            <i class="fas fa-money-bill-alt"></i>
                        </a>
                    </li>
                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="Buscar mensaje">
                        <a href="javascript:void(0)" class="btn btn-outline-light chat-search-btn">
                            <i class="fas fa-search"></i>
                        </a>
                    </li>
                    
                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tipificar">
                        <a href="javascript:void(0)" class="btn btn-outline-light" data-bs-toggle="modal"
                            data-bs-target="#tipificarModal">
                            <i class="fas fa-filter"></i>
                        </a>
                    </li>

                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Más opciones">
                        <a class="btn btn-outline-light no-bg" href="#" data-bs-toggle="dropdown">
                            <i class="fas fa-ellipsis-h"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="javascript:void(0)"  class="dropdown-item" data-bs-toggle="modal"
                            data-bs-target="#actDatosModal">
                                Act. Datos 
                                <span>
                                    <i class="fas fa-user-edit"></i>
                                </span>
                            </a>
                            <a href="javascript:ases.cargaHistorial();"  class="dropdown-item">Historial <span><i class="fas fa-archive"></i></span></a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="chat-search" style="z-index:1;">
                <form>
                    <span class="fas fa-search form-control-feedback"></span>
                    <input type="text" name="chat-search" placeholder="Buscar mensajes" class="form-control">
                    <div class="close-btn-chat"><span class="material-icons">close</span></div>
                </form>
            </div>

        </div>
        <div class="slimscroll">
            <div class="chat-body">
                <div class="messages" id="idBodySmsConversacion"> </div>
                
            </div>
        </div>
    </div>
    <div class="chat-footer" id="idFooterFomularioEnvioDia">
        <form onsubmit="return false;" id="formularioEncvioSms">
            <div class="smile-col">
                <!-- <a href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Contextos"><i class="fas fa-chalkboard-teacher"></i></a> -->
                <a href="javascript:ases.emojisRes();" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Emojis"><i class="far fa-smile"></i></a>
            </div>
            <div class="attach-col">
                <a href="javascript:ases.smsPrestablecidos();" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Mensajes preestablecidos"><i class="fas fa-sms"></i></a>
            </div>
            <input type="text" id="mensajeEscribiendoAsesor" class="form-control chat_form"
                placeholder="Escriba su mensaje....." required>
            <div class="form-buttons">
                <button class="btn send-btn" type="submit">
                    <span class="material-icons">send</span>
                </button>
            </div>
            <!-- <div class="specker-col">
                <a href="#"><span class="material-icons">settings_voice</span></a>
            </div> -->
        </form>
    </div>
    <div class="chat-footer hide" id="idFooterFomularioEnvioHistory">
        <form onsubmit="return false;" id="formularioEncvioSmsHistory">
            <div class="smile-col">
                <!-- <a href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Emojis"><i class="fas fa-chalkboard-teacher"></i></a> -->
                <a href="javascript:ases.emojisRes();" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Emojis"><i class="far fa-smile"></i></a>
            </div>
            <div class="attach-col">
                <a href="javascript:ases.smsPrestablecidos();" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Mensajes preestablecidos"><i class="fas fa-sms"></i></a>
            </div>
            <input type="text" id="mensajeEscribiendoAsesorHistory" class="form-control chat_form"
                placeholder="Escriba su mensaje....." required>
            <div class="form-buttons">
                <button class="btn send-btn" type="submit">
                    <span class="material-icons">send</span>
                </button>
            </div>
            <!-- <div class="specker-col">
                <a href="#"><span class="material-icons">settings_voice</span></a>
            </div> -->
        </form>
    </div>
</div>

<div class="right-sidebar right_sidebar_profile hide-right-sidebar hide" id="middle1">
    <div class="right-sidebar-wrap active">
        <div class="slimscroll">
            <div class="left-chat-title d-flex justify-content-between align-items-center p-3">
                <div class="chat-title">
                    <h4>Ofertas</h4>
                </div>
                <div class="contact-close_call text-end">
                    <a href="#" class="close_profile close_profile4">
                        <span class="material-icons">close</span>
                    </a>
                </div>
            </div>
            <!-- <img src="" height="100%" width="100%" alt=""> -->
            <div class="sidebar-body">
                <div class="mt-0 right_sidebar_logo">
                    <div class="text-center right-sidebar-profile" style="margin-top:-30px;"></div>
                    <div id="canal" class="hide"></div>
                    <div id="ofertaUnica">
                        <div class="about-media-tabs">
                            <nav>
                                <div class="nav nav-tabs justify-content-end" id="nav-tab"></div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="about">
                                    <p class="textOfertaViews" align="justify">Asesor recuerde que la infomacion aca mostrada corresponde a la ultima cargada a el cliente.</p>
                                    <hr>
                                    <div class="member-details" style="margin-top:-10px;">
                                        <ul id="ulNabTabOferta"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--div class="report-col">
                <ul>
                    <li><a href="#"><span class="material-icons">report_problem</span> Report Chat</a></li>
                    <li><a href="#"><span><i class="far fa-trash-alt"></i></span> Delete Chat</a></li>
                </ul>
            </div-->
        </div>
    </div>
</div>

{{block page_js}}
    <script src="{{=URL('static','js/asesor/dashboard.js')}}"></script>
{{end page_js}}